@CHARSET "UTF-8";
.fl {float: left}
.fr {float: right}
.clear {clear: both}

form .layui-form-item {
    margin-bottom: 5px;
}
#box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}
#message-form {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #F9F9F9;
}
#message-list {
    height: 320px;
    padding: 8px;
    overflow-y: scroll;
}
#message-list > .per-msg {
    padding: 5px;
    line-height: 15px;
    margin-bottom: 10px;
    color: #2F4056;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#message-list > .per-msg > .message-info {
    background-color: #ededed;
    font-size: 12px;
    font-style: normal;
    color: #555555;
    padding: 5px;
}

#message-list > .per-msg > .message-data {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

#message-list > .per-msg > .user-entry {
    display: block;
    text-align: center;
    color: hotpink;
}

#message-list > .per-msg > .user-leave {
    display: block;
    text-align: center;
    color: #93D1FF;
}

#user-list {
    background-color: #F9F9F9;
    margin-left: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color: #0C0C0C;
    height: 485px;
    overflow-y: scroll;
}
#user-list li {
    padding: 5px;
}
#user-list > .current-user-list {
    font-weight: bold;
    margin-bottom: 5px;
    color: #009f95;
}

#user-list > .per-user {
    color: darkgoldenrod;
    padding-left: 15px;
    cursor: pointer;
}

#user-list > .per-user:hover {
    color: #777777;
}

#user-list > .user-as-me {
    color: #0C0C0C;
    font-size: 16px;
}